BODY {
	FONT-SIZE: 12px; RIGHT: auto; BACKGROUND: #fff; LEFT: auto; MARGIN: 0px auto;  FONT-FAMILY: "??",Arial; POSITION: relative
}
div,ul,li,dl,dt,dd {
   margin:0px;padding:0px; border: 0;
   }
td,th {
	font-size:13px;color: #333;font-family: ו,tahoma,Arial,Verdana,sans-serif
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #221815; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f66; TEXT-DECORATION: underline
}
H1 {
	FONT: bold 12px/150% "Arial","Sans-Serif"
}
H2 {
	FONT: bold 12px/150% "Arial","Sans-Serif"
}
H3 {
	FONT: bold 12px/150% "Arial","Sans-Serif"
}
H4 {
	FONT: bold 12px/150% "Arial","Sans-Serif"
}
H5 {
	FONT: bold 12px/150% "Arial","Sans-Serif"
}
H6 {
	FONT: bold 12px/150% "Arial","Sans-Serif"
}
h7 {
	FONT: bold 12px/150% "Arial","Sans-Serif"
}
UL {
	LIST-STYLE-TYPE: none
}
.topuserlogin {
    margin:0px auto;width:974px; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; RIGHT: 0px; BACKGROUND: url(../images/userloginbg.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;
	}
.quick-menu-list {
	PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 2px; LIST-STYLE-TYPE: none; HEIGHT: 26px
	}
.quick-menu-list A:link {
	COLOR: #36c; TEXT-DECORATION: none
	}
.quick-menu-list A:visited {
	COLOR: #36c; TEXT-DECORATION: none
	}
.quick-menu-list A:hover {
	COLOR: #f50; TEXT-DECORATION: underline
	}
.quick-menu-list A:active {
	COLOR: #f50; TEXT-DECORATION: underline
	}
.date{ 
      PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; HEIGHT: 26px
	}
.header{
       width:980px; background:#fff;margin:0px auto; height:68px;margin-top:8px;
	}
.logo{
     width:200px;float:left; text-align:center;
	}
.banner{
    width:625px;float:left;margin-left:15px;
	}
.banner ul{margin-top:8px; height:35px;}
.banner li{ float:left;width:80px;}
.banner a:Link,.banner a:visited{text-decoration:none;font-weight:bold; color:#555;}
.banner a:hover{color:red; text-decoration:underline}
.menu{
     background:url(../images/menu_bg.gif); height:32px;width:100%;
	}
.nav{
    width:980px;height:32px; margin:0 auto;overflow:hidden;
	}
.nav ul li{
       float:left;width:86px; list-style-type:none;line-height:32px;height:32px; text-align:center;font-weight:bold;color:#ffffff;font-size:14px;
	   }
.current{
     background:url(../images/active_bg.gif) repeat-x;width:86px;color:#ffffff;
	 }
.current:link,.current:visited{color:#fff;text-decoration:none;width:86px;display:block; text-align:center;}
.current:hover,.current:active{color:#fff;text-decoration:none; background:url(../images/active_bg.gif) repeat-x;width:86px; display:block; text-align:center;}

.blue-bg:link,.blue-bg:visited{color:#fff;text-decoration:none;width:86px;display:block; text-align:center;}
.blue-bg:hover,.blue-bg:active{color:#fff;text-decoration:none; background:url(../images/active_bg.gif) repeat-x;width:86px; display:block; text-align:center;}
.sea{background:url(../images/search_bg.gif);height:31px; line-height:31px;}
.search{width:980px;margin:0px auto; }
.sea_l{width:500px; float:left; text-align:left; padding-top:5px;}
.sea_r{background:url(../images/tags.gif) no-repeat left center;width:400px; float:right; text-align:left;padding-left:80px;}

H1 {
	LINE-HEIGHT: 150%
}
#lookNav {
	CLEAR: both; BACKGROUND: url(../images/menubg.jpg) no-repeat; MARGIN: 0px auto 10px; OVERFLOW: hidden; WIDTH: 960px; HEIGHT: 34px
}
#lookNav UL {
	DISPLAY: inline; FLOAT: left; MARGIN: 6px 10px 0px 0px
}
#lookNav UL LI {
	PADDING-RIGHT: 7px; DISPLAY: inline; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; WIDTH: 57px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: center
}
#lookNav UL LI.active {
	BACKGROUND: url(../images/lookNav_active_bg.gif) no-repeat center 0px; HEIGHT: 28px; TEXT-ALIGN: center
}
#lookNav UL LI A {
	DISPLAY: block; FLOAT: left; WIDTH: 57px; COLOR: #d85452
}
#lookNav UL LI.active A {
	COLOR: #000
}
.toutiaobox{width:480px; margin-bottom:5px;}
.picleft{display: block; color: #000; text-decoration: none;border: #adadad 1px solid;margin:5px; text-align:center;height:100px;width:100px;float:left;}

.toutiaoright{float:right; padding:5px;}
.clear{clear:both;}


#diary-maincol {
	FLOAT: right; WIDTH: 737px; LINE-HEIGHT: 150%
}
#diary-sidecol {
	FLOAT: left; WIDTH: 202px
}
#diary-maincol P {
	LINE-HEIGHT: 145%
}
#diary-sidecol P {
	LINE-HEIGHT: 145%
}
.block {
	BORDER-RIGHT: #fdbdd5 1px solid; BORDER-TOP: #fdbdd5 1px solid; MARGIN: 0px 0px 10px; BORDER-LEFT: #fdbdd5 1px solid; BORDER-BOTTOM: #fdbdd5 1px solid
}
.block#diary-sidecol-writenow {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.block .title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/diary-block-title_bg.gif) #fbd7e5 repeat-x; OVERFLOW: hidden; COLOR: #f21a6f; TEXT-INDENT: 10px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.block TD .title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/diary-block-title_bg.gif) #fbd7e5 repeat-x; OVERFLOW: hidden; COLOR: #f21a6f; TEXT-INDENT: 10px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.block .title TD {
	FONT-WEIGHT: bold; LINE-HEIGHT: 27px
}
.block TD .title TD {
	FONT-WEIGHT: bold; LINE-HEIGHT: 27px
}
.block UL.tab LI {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; CURSOR: pointer
}
.block UL.smaller {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: url(../images/diary-block-tab2_bg.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; COLOR: #f21a6f; LINE-HEIGHT: 19px; PADDING-TOP: 0px; HEIGHT: 19px; TEXT-ALIGN: center
}
.block UL.smaller LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(../images/lookNav_active_bg.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; WIDTH:57px; PADDING-TOP: 2px; FONT-FAMILY: "MingLiu", "PMingLiu"; HEIGHT: 17px
}
.block UL.smaller LI.current {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/lookNav_active_bg.gif)
}
.block .container {
	padding:0px;
}
#diary-sidecol .block .container {
	OVERFLOW: hidden; WIDTH: 180px
}
.block .list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 140%; PADDING-TOP: 3px
}
.block .chartlist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 140%; PADDING-TOP: 3px
}
#diary-sidecol .block .list LI {
	CLEAR: both
}
#diary-sidecol .block .chartlist LI {
	CLEAR: both; text-align:center;
}
.block .container{}
.block .container li{ list-style-type:none; ling-height:22px;}
.block .container span{ float:right; color:#ff6600;}
.block .container img{ padding:0px; text-align:left; float:left;}
.block .container li a:Link,.container li a:visited{ text-align:left; padding-left:0px;}

.chartlist img{width:80px; height:80px; border:#ccc 1px solid;}
.chartlist a:link,.chartlist a:visited{color:#ff6600; text-decoration:underline; font-size:14px; font-weight:bold}
.chartlist a:hover{ text-decoration:none}


.block .list SPAN {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.block .chartlist SPAN {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.block .list LI {
	FLOAT: left; WIDTH: 215px
}
.dotline {
	BACKGROUND: url(../images/dotline1.gif) repeat-x; OVERFLOW: hidden; HEIGHT: 1px;margin: 0px 0px 5px
}
#diary-maincol_480px {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 482px
}
#diary-maincol_245px {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 245px
}
#diary-sidecol-recom {
	OVERFLOW: hidden; HEIGHT: 273px
}
#diary-sidecol-recom .title {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-INDENT: 0px; LINE-HEIGHT: 120%; HEIGHT: 14px
}
#diary-sidecol-recom .list {
	FLOAT: left;width:100%;
}
#diary-sidecol-recom .list LI {
	FLOAT: left; PADDING-BOTTOM: 2px; PADDING-TOP: 1px
}
#diary-sidecol-recom .list LI .topic {
	OVERFLOW: hidden;
}
#diary-sidecol-recom .list LI .author {
	OVERFLOW: hidden; WIDTH: 70px; TEXT-ALIGN: right
}
#diary-maincol-category {
	CLEAR: both; WIDTH: 737px
}
#diary-maincol-category .block {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 361px; HEIGHT: 240px
}
#diary-maincol-category .right {
	FLOAT: right
}
#diary-sidecol-chart1 UL.tab {
	MARGIN: 4px 0px 0px 8px; TEXT-INDENT: 0px; TEXT-ALIGN: center
}
#diary-sidecol-chart1 UL.tab LI {
	WIDTH: 91px; HEIGHT: 23px
}
#diary-sidecol-chart1 UL.tab LI.current {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/diary-block-title-tab_bg1.gif) no-repeat
}
#diary-babytree-latest UL.list2 LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 5px; PADDING-LEFT: 13px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 4px; LINE-HEIGHT: 100%; PADDING-TOP: 1px
}
#diary-sidecol-category UL {
	MARGIN: 5px 0px 0px
}
#diary-sidecol-category LI {
	FONT-SIZE: 14px; BACKGROUND: url(../images/diary-category-item_bg.gif) no-repeat center 0px; FLOAT: left; MARGIN: 0px 0px 5px; WIDTH: 85px; LINE-HEIGHT: 38px; HEIGHT: 38px; TEXT-ALIGN: center
}
#diary-sidecol-category LI.right {
	FLOAT: right
}
#diary-sidecol-category LI A {
	DISPLAY: block; FONT-WEIGHT: bold; WIDTH: 85px; COLOR: #389ac9; HEIGHT: 38px; TEXT-DECORATION: none
}
#diary-sidecol-category LI A:hover {
	COLOR: #fc5101
}
#diary-sidecol-category LI A.current {
	BACKGROUND: url(../images/diary-category-item_bg_hot.gif) no-repeat center 0px; COLOR: #fc5101! important
}
#diary-sidecol-search P.keyword {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 0px solid; MARGIN: 0px 0px 5px; BORDER-LEFT: #ccc 0px solid; BORDER-BOTTOM: #ccc 1px solid
}
#diary-sidecol-search P.keyword INPUT {
	BORDER-RIGHT: #aeaeae 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #aeaeae 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px -1px; BORDER-LEFT: #aeaeae 1px solid; WIDTH: 175px; PADDING-TOP: 1px; BORDER-BOTTOM: #aeaeae 1px solid
}
#mainbody{width:950px; margin:0px auto}
#DivAll {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 950px; PADDING-TOP: 0px; ZOOM: 1
}
#DivAll:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; OVERFLOW: hidden; HEIGHT: 0px; content: "."
}
#bb-footer {
	CLEAR: both; MARGIN: 20px auto 10px; WIDTH: 780px; COLOR: #898989; ZOOM: 1
}
#bb-footer .bLinkList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; text-align:center;PADDING-BOTTOM: 2px; MARGIN: 3px 0px 0px; LINE-HEIGHT: 16px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
#bb-footer .bLinkList LI {
	FLOAT: left; BORDER-LEFT: #9e9e9e 1px solid; text-align:center
}

#bb-footer .bLinkList LI A {
	DISPLAY: block; MARGIN: 0px 10px; COLOR: #666; FONT-FAMILY: "Simsun"
}
#bb-footer .bCopyright {
	DISPLAY: inline; FONT-SIZE: 12px; FLOAT: left; LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; LETTER-SPACING: 1px
}

.foot{width:980px;margin:0px auto;height:60px; line-height:24px; text-align:center}
.footer{width:980px;margin:0px auto;border:#D4E9EE 1px solid; background:#efefef;height:28px; line-height:28px;}
.footer a:link,.footer a:visited{color:#003366; text-decoration:none}
