 BODY   {border: 0; margin: 0; cursor: default; background: #EAF0F5;font-family:ו; font-size:9pt;}
 BUTTON {width:5em}
 TABLE  {font-family:ו; font-size:9pt}
 P      {text-align:center}
.textbox {
	font: 12px Tahoma, Verdana; color: #004080; font-weight: normal; background-color: #EAF0F5
}
.button{font: 12px Tahoma, Verdana; color: #004080; font-weight: normal; background-color: #EAF0F5}
.line{
background:#009AE8;
}
.Title
{
    background:#009AE8;
    color: #ffffff;
    font-weight: normal;
}
.border
{
    border: 1px solid #449AE8;background:#ffffff;
}
.tdbg{
    background:#EAF0F5;
    line-height: 120%;
}