<xml xmlns:s="uuid:BDC6E3F0-6DA3-11d1-A2A3-00AA00C14882" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">
	<rs:data>
		<z:row api_enable="false" api_conformkey="KesionCMS" api_urls="http://localhost/bbs/dv_dpo.asp" api_debug="true" api_loginurl="0" api_reguserurl="0" api_logouturl="0"></z:row>
	</rs:data>
</xml>
