BODY {
	FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 15px; margin:0px auto;padding:0px;FONT-FAMILY: Tahoma,SimSun,Arial; BACKGROUND-COLOR: #fff
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
div ,ul,li{
   margin:0; padding:0; list-style-type:none;
}
A:link,A:visited {
	COLOR: #555; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f60; TEXT-DECORATION: underline
}
.eshop{margin:0px auto;}
.header {
	FONT-SIZE: 12px; BACKGROUND: #fff; COLOR: #111; TEXT-ALIGN: center
}
.header-top {
	MARGIN: 0px auto; WIDTH: 950px; TEXT-ALIGN: left
}
.header-main {
	MARGIN: 0px auto; WIDTH: 950px; TEXT-ALIGN: left
}
.header-bottom {
	MARGIN: 0px auto; WIDTH: 950px; TEXT-ALIGN: left
}
.header-top {
	POSITION: relative
}
.logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px;
}
.logo #logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.logo #logo A {
	DISPLAY: block; BACKGROUND: url(/images/logo.gif) no-repeat 0px 0px; OVERFLOW: hidden; WIDTH: 235px; TEXT-INDENT: -9999em; POSITION: relative; HEIGHT: 78px
}
.quick-menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; RIGHT: 0px; BACKGROUND: url(header_bg_0422.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
.quick-menu-list {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; BACKGROUND: url(header_bg_0422.gif) no-repeat 100% 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 26px
}
.quick-menu-list LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 11px; BACKGROUND: url(header_line_bg.gif) no-repeat 0px -3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -1px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px
}
.quick-menu-list A:link {
	COLOR: #36c; TEXT-DECORATION: none
}
.quick-menu-list A:visited {
	COLOR: #36c; TEXT-DECORATION: none
}
.quick-menu-list A:hover {
	COLOR: #f50; TEXT-DECORATION: underline
}
.quick-menu-list A:active {
	COLOR: #f50; TEXT-DECORATION: underline
}
.header-main {
	Z-INDEX: 99999; BACKGROUND: url(header_menu_0604.png) no-repeat 0px -75px; ZOOM: 1; POSITION: relative
}
.header-main-skin {
	BACKGROUND: url(header_menu_0604.png) no-repeat right -445px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; ZOOM: 1
}
.header-main:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.channel-menu {
	PADDING-BOTTOM: 1px
}
.channel-menu UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; ZOOM: 1; LIST-STYLE-TYPE: none
}
.channel-menu UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ""
}
.channel-menu UL {
	FLOAT: left
}
.channel-menu UL LI {
	FLOAT: left
}
.channel-lv1 {
	HEIGHT: 27px
}
.header .tab-hx {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; POSITION: relative
}

.li-channel {
	BACKGROUND: url(header_menu_0604.png) no-repeat; LINE-HEIGHT: 25px; HEIGHT: 27px
}
.tab-hx li{
	MARGIN-RIGHT: 3px;BACKGROUND: url(header_menu_0604.png) no-repeat; LINE-HEIGHT: 25px; HEIGHT: 27px
}

.tab-hx LI.currclass {
	BACKGROUND: url(header_menu_0604.png) no-repeat 0px -220px
}
.tab-hx LI.currclass A {
	PADDING-RIGHT: 21px; DISPLAY: block; PADDING-LEFT: 21px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(header_menu_0604.png) no-repeat right -247px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;
}


.li-channel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tab-hx A {
	PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(header_menu_0604.png) no-repeat right -25px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.li-channel UL {
	PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(header_menu_0604.png) no-repeat right -25px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.li-channel UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.li-channel UL LI {
	PADDING-RIGHT: 14px; PADDING-LEFT: 15px; BACKGROUND: url(header_menu_0604.png) no-repeat 0px -270px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -1px; PADDING-TOP: 0px
}
.header-main LI.selected {
	BACKGROUND: url(header_menu_0604.png) no-repeat 0px -220px
}
.header-main LI.selected A {
	PADDING-RIGHT: 21px; DISPLAY: block; PADDING-LEFT: 21px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(header_menu_0604.png) no-repeat right -247px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.header-main .li-channel LI.selected {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 27px
}
.header-main .li-channel LI.selected A {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.header .tab-hx A:link {
	COLOR: #111; TEXT-DECORATION: none
}
.header .tab-hx A:visited {
	COLOR: #111; TEXT-DECORATION: none
}
.header .tab-hx A:hover {
	COLOR: #111; TEXT-DECORATION: underline
}
.header .tab-hx A:active {
	COLOR: #111; TEXT-DECORATION: underline
}
.li-index UL LI.selected A:link {
	COLOR: #fff
}
.li-index UL LI.selected A:visited {
	COLOR: #fff
}
.channel-lv2 {
	OVERFLOW: hidden; HEIGHT: 25px
}
.channel-lv2 A:link {
	COLOR: #fef1d8; TEXT-DECORATION: none
}
.channel-lv2 A:visited {
	COLOR: #fef1d8; TEXT-DECORATION: none
}
.channel-lv2 A:hover {
	COLOR: #fef1d8; TEXT-DECORATION: underline
}
.channel-lv2 A:active {
	COLOR: #fef1d8; TEXT-DECORATION: underline
}
.channel-lv2 .tab-subhx {
	PADDING-LEFT: 32px; FLOAT: left; OVERFLOW: hidden
}
.channel-lv2 .tab-subhx LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 11px; BACKGROUND: url(header_menu_0604.png) no-repeat right -293px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -1px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.header .search-box {
	BACKGROUND: url(header_menu_0604.png) no-repeat 0px -300px; FLOAT: left; MARGIN-LEFT: 5px
}
.header .search-box .search-box-skin {
	BACKGROUND: url(header_menu_0604.png) no-repeat right -328px; FLOAT: left; PADDING-TOP: 4px; HEIGHT: 24px
}
.header .search-box .search-box-skin INPUT {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 0px 0px -1px; BORDER-LEFT: #ccc 1px solid; WIDTH: 276px; COLOR: #111; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.header .search-box .search-box-skin SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #111; PADDING-TOP: 0px
}
.header .search-box .search-box-skin OPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #111; PADDING-TOP: 0px
}
.header .search-box .search-box-skin .text {
	MARGIN-TOP: -1px
}
.header .search-box .search-box-skin SELECT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FONT-SIZE: 12px; MARGIN: 0px 4px -1px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px
}
.header .search-box .search-box-skin SELECT {
	VERTICAL-ALIGN: top
}
.header .search-box .search-box-skin INPUT {
	VERTICAL-ALIGN: top
}
.header .search-box .search-box-skin SELECT#cat {
	WIDTH: 139px
}
.header .search-box .search-box-skin BUTTON {
	MARGIN: 0px 5px -1px 0px
}
.header .mini-simple .search-box {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #fff; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.header .mini-simple .search-box .search-box-skin {
	BACKGROUND-POSITION: 8px -169px; PADDING-TOP: 1px
}
.header .mini-simple .search-box .search-box-skin INPUT {
	WIDTH: 200px
}
.date {
	DISPLAY: inline;FLOAT: right; MARGIN-RIGHT: 10px; LIST-STYLE-TYPE: none; HEIGHT: 28px;color:#FFFF00;padding-top:5px;
}
#ad950_40{
    width:950px;margin:0px auto;margin-top:5px
}
.eshop_main{
    width:950px;margin:0px auto;
}
.eshop_main_1{
   width:235px; float:left;
}
.tit_shop{
   margin-top:10px;width:230px;border:#DE8F68 1px solid;
}
.eshop_tit{
    width:210px; color:#CC0000; font-weight:bold; font-size:14px; background:url(bbc05.gif) no-repeat; height:32px; padding-left:15px; line-height:32px;
}
.eshop_box{
   width:218px; padding:5px;
}
.eshop_box .image{
    margin-left:3px;padding:2px;border:#dcdcdc 3px solid
 }
.eshop_box .t{
   padding-top:6px;
 }
.eshop_box .img{
 padding-right:5px;
}
.eshop_box a:Link,.eshop_box a:visited{
 padding-left:5px; line-height:24px;
}
.clear{
   clear:both;
}
.eshop_main_2{
   width:500px; float:left;margin-left:10px;margin-top:10px;
 }
.eshop_flash{
  border:#ccc 1px solid;
 }
.cpu{
  margin-top:10px;border:#ccc 1px solid; text-align:center; height:138px;
 }
.eshop_main_3{
  width:188px;float:right;margin-left:10px;
 }
.tj_shop{
  margin-top:10px; padding:0;
 }
.eshop_tj{
   color:#FFFFFF; font-weight:bold; font-size:14px; background:url(shop_right_bg.gif) repeat-x; height:25px; padding-left:10px; line-height:25px;
}
.eshop_tjbox{
   line-height:24px;
}
.eshop_hotbox{
  padding:5px;line-height:24px;
}
.eshop_hotbox .image{
  padding:2px; border:#dcdcdc 1px solid;margin-left:3px;
}
.border{ width:100%;}

.reg_mj{
   padding-top:6px;
}
.eshop_main_2 .xpsj_shop{
   margin-top:10px; border:#dcdcdc 1px solid
}
.xpsj_tit{
   background:url(pic_titbg.gif); height:30px; line-height:30px; padding-top:4px;padding-left:10px; font-size:14px; font-weight:bold
}
.xpsj_tit img{
  padding-top:5px; padding-right:5px;
}
.xpsj_box{
  padding:3px;
}
.xpsj_box img{
  padding-right:5px;
}
.eshop_hotbox .classtitle a{
   font-size:14px;font-weight:bold; color:#cc0000;
}
.eshop_hotbox .list a{
   font-size:12px;color:#555;
}
.product_box {
 height:454px; overflow:hidden
}
.product_box .classtitle a{
   font-size:14px;font-weight:bold; color:#cc0000;
}
.product_box .list{
  width:220px; paddint-top:6px;
}
.product_box .list a:link,.product_box .list a:visited{
   font-size:12px;color:#555;padding-top:19px;
}
.line1{
  border-top:1px dotted #dcdcdc;
}

.eshop_ppbox{
  padding:5px;
}
.eshop_ppbox li{
  list-style-type:none;width:50%; float:left;
}

.eshop_ppbox img{
   border:#dcdcdc 1px solid;width:80px; 
}
.eshop_list_main{
  width:950px; margin:0px auto;
}
.eshop_list_2{
   width:700px; float:right;
}
.eshop_site{
 background:url(eshop_listbg.gif) no-repeat;font-size:14px; height:36px;width:680px;line-height:36px; padding-left:20px;margin-top:10px;
}
.eshop_site img{padding-top:10px; padding-right:6px;
}
.eshop_site a:link,.eshop_site a:visited{
  color:#555;
}
.eshop_list{
 width:686px;border-left:#ccc 1px solid; border-right:#ccc 1px solid; border-bottom:#ccc 1px solid; padding:5px;
}
.eshop_list .image{
   padding:2px; border:#dcdcdc 1px  solid; margin-bottom:6px; margin-left:6px;width:168px; height:168px;margin-top:16px;
}
.eshop_list .t{
  font-size:14px; padding-top:10px;
}

.eshop_product{
  width:686px; padding:5px;border-left:#ccc 1px solid; border-right:#ccc 1px solid; border-bottom:#ccc 1px solid;
}
.product_photo{
  width:305px; height:338px; border:#ccc 1px solid;float:left;
}

.product_cs{
  width:350px;float:right;
}
.product_list_dl{
  width:300px; line-height:28px;
}
.product_name{
  font-size:16px;font-weight:bold; color:#CC3300
}
.product_left{
  float:left; font-weight:bold; color:#000;
}
.product_right{
  float:left; text-align:left
}
.pro_intro{
    margin-top:10px;
}
.product_tt{
   background:url(px2.gif) repeat-x; height:29px; font-size:14px; font-weight:bold; padding-left:20px; line-height:29px;
}
.productintro{
  padding:5px; line-height:22px;
}
.aboutarticle{
  margin-top:10px;
}
.about_article{
  background:url(pic_06.jpg) no-repeat;font-size:14px;font-weight:bold;color:#003366;margin-left:10PX;padding-left:20px;
}
.WriteComment{
  margin:0px auto;margin-top:10px;padding:5px;font-size:14px;
}
.ShowComment{
  width:600px;margin:0px auto;margin-top:10px;margin-bottom:10px;
}
.ShowComment img{
  border:#ccc 1px solid;padding:2px;
 }
.cpu_site{
   border:#dcdcdc 1px solid;background:url(indexb_32.jpg);width:945px; margin:0px auto;margin-top:10px;  height:32px; line-height:32px; padding-left:5px; font-size:14px;
}
.brangintro{
  font-size:12px;color:#000; line-height:25px;
}
.brangname img{
   padding-right:10px;
}
.brangname{
  color:#ff6600; font-size:12px; font-weight:bold;
}

.indextitle{
  width:940px; margin:0px auto; margin-top:10px; border:#dcdcdc 1px solid;background:url(pic_titbg.gif);height:30px; line-height:30px;font-size:12px; padding-left:10px; 
}
.cartbox{ width:930px; margin:0px auto; border:#dcdcdc 1px solid; border-top:none;padding:10px;}
.logintips{width:930px;}
.logintips .title{
 width:100%;background:url(px2.gif);height:29px; line-height:25px; font-weight:bold 
}
.logintips a:link,.logintips a:visited{color:#ff0000; text-decoration:none}
.logintips a:hover{ text-decoration:underline}
.tdbg img{
  margin-top:10px;
}
.cart{
  width:950px; margin:0px auto; margin-top:10px;
}

.brandmain{width:950px;margin:0px auto;margin-top:10px; border:#dcdcdc 1px solid;}
.brandbox{}
.list1{padding:10px;}
.list1 li{list-style-type:none;width:230px;float:left;margin:0px;line-height:26px;}
.page{padding:10px;margin-bottom:10px;clear:both}
.brandname{color:#000;font-size:14px; text-decoration:underline;}
.classnav{background:url(indexb_32.jpg) repeat-x;height:32px;line-height:32px; padding-left:10px;}
.classnav a:link,.classnav a:visited{color:#ff6600; font-size:15px; font-weight:bold}
.classnav li{list-style-type:none;float:left;width:100px}

.pro_info { position:relative; margin-top:10px;}
.pro_info .hd { background-position:0 -80px; height:32px;}
.pro_info .hd li { background-position:-312px 0; width:94px; height:32px; float:left; margin-right:3px; font-size:14px;}
.pro_info .hd li a { color:#333; line-height:28px;}
.pro_info .hd li.selected { background-position:-218px 0;}
.pro_info .hd li.selected a { color:#fff; font-weight:bold;}
.pro_info .bd { padding:10px; text-align:left; font-size:14px; line-height:24px;}
.pro_info .ft { position:absolute; top:9px; right:17px;}
.bl_module { position:relative; margin-top:10px;}
.bl_module .tp_rc { display:block; height:6px; background-position:0 0; overflow:hidden;}
.bl_module .ft_rc { display:block; height:6px; background-position:0 -7px; overflow:hidden;}
.bl_module .bd { border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; text-align:left;}
.bl_module .bd h3 { font-size:14px; height:24px; font-weight:bold; padding-left:10px;}
.bl_module .bd h3.yellow { color:#f26522;}
.bl_module .bd h3.green { color:#197b30;}
.bl_module .bd h3 .mun { font-size:12px; font-weight:normal; color:#666;}
.bl_module .bd .line_yellow { margin:0 6px; display:block; overflow:hidden; height:9px; background-position:0 -24px;}
.bl_module .bd .line_green { margin:0 6px; display:block; overflow:hidden; height:9px; background-position:0 -33px;}
.bl_module .bd .cont {}
.bl_module .bd .cont li {}
.bl_module .ft { position:absolute; top:12px; right:12px;}

.indextitle{
  background:url(pic_titbg.gif);height:30px; line-height:30px;font-size:12px; padding-left:10px; 
}
.logintips{ letter-spacing:1px}
.logintips .title{
 background:url(px2.gif);height:29px; line-height:25px; font-weight:bold ;
}
.logintips a:link,.logintips a:visited{color:#ff0000; text-decoration:none}
.logintips a:hover{ text-decoration:underline}
.tdbg img{
  margin-top:10px;
}

.border .title{
  background:url(px2.gif);height:29px; line-height:25px;color:#cc0000; font-weight:bold ;text-align:left; padding-left:20px;
}
.border td{ 
     text-align:left;
}
	/*Help*/
.Help{width:910px;border:1px solid #E7CA96;padding:10px 20px;margin:10px auto 0;overflow:hidden;background:url(help_bg.jpg) #fff repeat-x 0 top;}
.Help dl{width:20%;height:160px;float:left;background:url(help_line.gif) no-repeat right top;}
.Help dl.Help_b5{background:none;}
.Help dt{font-weight:bold;padding-left:30px;margin-bottom:15px;}
.Help dd{padding-left:15px; line-height:24px;}
.Help dd img{padding-right:8px; padding-top:5px;}

/*文章分页样式*/
#fenye{clear:both;}
#fenye a{text-decoration:non;}
#fenye .prev,#fenye .next{width:52px; text-align:center;}
#fenye a.curr{width:22px;background:#1f3a87; border:1px solid #dcdddd; color:#fff; font-weight:bold; text-align:center;}
#fenye a.curr:visited {color:#fff;}
#fenye a{margin:5px 4px 0 0; color:#1E50A2;background:#fff; display:inline-table; border:1px solid #dcdddd; float:left; text-align:center;height:22px;line-height:22px}
#fenye a.num{width:22px;}
#fenye a:visited{color:#1f3a87;} 
#fenye a:hover{color:#fff; background:#1E50A2; border:1px solid #1E50A2;float:left;}
#fenye span{display:block;margin:10px}


.fs_box{border:#FDDEE6 5px solid;margin-top:10px;}

/*底部通用*/
.foot {
	 WIDTH: 950px; margin:0px auto;text-align: center; margin-top:10px; border-top:#dcdcdc 1px solid; padding-top:8px; color:#555;
}
.foot a:link,.foot a:visited{
  color:#666; font-size:12px; letter-spacing:2px; 
}
.foot a:hover{color:#ff6600;}
#copyright {
	WIDTH: 950px;margin:0px auto;padding-top:10px;text-align: center;line-height:20px; color:#555;
}
